button {
    background-color: rgb(25, 91, 255);
    color: white;
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 15px;
    border: none;
    box-sizing: border-box;
    user-select: none;
    outline: none;
    transition: all .3s ease;
    justify-content: center;
}

button:hover {
    box-shadow: 0 10px 20px -10px rgba(25, 91, 255, 1);
    transform: translateY(-3px);
}

.ripple {
    background-position: center;
    /* transition: background 0.3s; */
}

.ripple:active {
    background-color: #6eb9f7;
    background-size: 100%;
    /* transition: background 0s; */
}

.flat {
    background-color: #d3ebff;
    color: rgb(0, 71, 252);
}